<<<<<<< HEAD
div{
    height: 50px;
    width: 200px;
    background-color: #7aa874;
    text-align: center;
    margin: 10px auto ;
    box-shadow: 2px 2px 8px black;
=======
div{
    height: 50px;
    width: 200px;
    background-color: #7aa874;
    text-align: center;
    margin: 10px auto ;
    box-shadow: 2px 2px 8px black;
>>>>>>> 6cde91c (Updated Chapter 4)
}