<<<<<<< HEAD
.card {
    width: 200px;
    height: 0 auto;
    border: 2px solid black;
    margin: 10px;
    display:inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    transition: 0.3s;
}

.desc{
    padding: 0 3px 0 3px;
}


img {
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

.card:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.592);
=======
.card {
    width: 200px;
    height: 0 auto;
    border: 2px solid black;
    margin: 10px;
    display:inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    transition: 0.3s;
}

.desc{
    padding: 0 3px 0 3px;
}


img {
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

.card:hover{
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.592);
>>>>>>> 6cde91c (Updated Chapter 4)
}