/* Alpha = In this alpha is between the 0 to 1 , 0.5 means thoda blur not clear and not dark */
div{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 55, 5 , 1);
}

/* Opacity :- This is the set in which range is in 0 to 1 , in this if zero then it should dissapper with the all elements present in that . */
#MY{
    background-color: #ffa511;
    opacity: 1;
}


